textarea {
    resize: none;
}

.help-block {
    color: #777;
    font-size: 14px;
    margin-top: 5px;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar h1 {
    font-size: 28px;
    font-weight: 300;
    color: #fff;
    padding: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.1)
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul li a {
    padding: 8px 20px;
    display: block;
    color: rgba(255,255,255,0.6);
    font-weight: 600; 
}

#sidebar ul li a.logout {
    color: #ca4d4d;
    font-weight: bold;
}

#sidebar ul li a:hover {
    color: #fff;
    text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    background: rgba(0,0,0,0.2);
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #aaa;
    right: 1em;
    -webkit-transform: rotate(135deg) translate(0, -50%);
    -ms-transform: rotate(135deg) translate(0, -50%);
    -o-transform: rotate(135deg) translate(0, -50%);
    transform: rotate(135deg) translate(0, -50%);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    top: 47%;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#sidebar a[aria-expanded="true"]::before {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  -ms-transform: rotate(-135deg) translate(0, -50%);
  -o-transform: rotate(-135deg) translate(0, -50%);
  top: 45%;
  width: 7px;
  transform: rotate(-135deg) translate(0, -50%);
}

#sidebar ul ul {
    list-style: none;
    margin: 0;
    padding: 0 0 20px;
    background: rgba(0,0,0,0.2);
}

#sidebar ul ul a {
    padding-left: 40px !important;
    font-weight: normal !important;
}

#sidebar ul li ul li.active > a {
    color: rgba(255,255,255,0.3);
    background: none;
}

#sidebar ul li ul li a:hover {
    color: #fff;
}

#sidebar ul li a span {
	width: 31px;
    display: inline-block;
    vertical-align: middle;
}

#content {
    padding: 40px;
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    color: rgba(0,0,0,0.8);
}

@media (max-width: 767px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .sidebarButton {
        margin-bottom: 20px;
    }
    .form-control {
    	margin-bottom: 10px;
    }
}

@media (min-width: 768px) {	
    .sidebarButton {
        display: none;
    }
}