{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h1>Cadastrar</h1>
    {% if messages %}
        {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %} role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <form method="POST" class="post-form">
    	{% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-success">
            Cadastrar
        </button>
    {% endbuttons %}
    </form>
{% endblock %}